<div class="center">
  <h1 class="title">Stats</h1>
</div>

<!-- <div id="calendar"></div> -->

<div class="hero-body">
  <div class="container has-text-centered">

    <div class="columns is-vcentered">

      <div class="column is-6">
        <div class="box content">
          <div id="calendar"></div>
        </div>
      </div>

      <!-- Column is-6 -->
      <div class="column is-6">
        <div class="box content">
          <h1>Tasks</h1>
          <table class="table is-responsive">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Tempo/Demora</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>cell A1</td>
                <td>Lorem ipsum - cell B1</td>
                <td>cell C1</td>
                <td> cell D1</td>
              </tr>
              <tr>
                <td>cell A1</td>
                <td>Lorem ipsum - cell B1</td>
                <td>cell C1</td>
                <td> cell D1</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="box content">
          <h1>Grafico</h1>
        </div>
      </div><!-- End column is-6 -->
    </div>
  </div>
</div>