<h3>Tarefas executadas</h3>
<table>
  <thead>
    <tr>
      <td>Categoria</td>
      <td>Descrição</td>
    </tr>
  </thead>
  <tbody>
    <% @history.each do |task| %>
      <tr>
        <td><%= task.category.description %></td>
        <td><%= link_to task.description, edit_task_path(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
