
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
      flex: 1 0 auto;
    }
   
    footer{
      .page-footer{
        background-color: #008B8B;
        .copyright{
          padding-top: 12px;
          padding-bottom: 12px;
          color: white;
          .copyright-link{
            color: white;
            cursor: pointer;
          }
          .copyright-icon{
            font-size: 12px;
            color: #008B8B	;
          }
        }
      }
    }
  }