
<div class='rows'>
    <div class='row is-narrow'></div>
    <div class='row is-narrow'></div>
  </div>
      
   <div id="register">
    <div class="register-card">
           <div class="card-title">
            <h1>Esqueceu sua senha?</h1>
          </div>
          <div class="content">
            <div class="card-content forgot-password">
              <p class="subtitle">
                  Esqueceu sua senha?
              </p>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, class:"input", autofocus: true, autocomplete: "email" %>
              </div>
              <%= render "devise/shared/links" %>

             </div>
                         
             <div class="actions">
                <footer class="card-footer">
                    <button class="card-footer-item register" type="submit" name="action">
                        Envie-me as instruções para redefinir senha
                      <i class="material-icons right"></i>
                    </button>
                  </footer>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  
  