<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to image_tag("logo_nav.png", alt: "logo"), '/', :class => "navbar-item" %>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
          <% if current_user %>
            <a href="/dashboard/stats" class="navbar-item">Estatisticas</a>
            <a href="/categories" class="navbar-item">Categorias</a>
            <a href="/configuration_task" class="navbar-item">Configurações</a>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "navbar-item"%>
            <% else %>
            <a href="/users/sign_up" class="navbar-item">Criar Conta</a>
          <% end %>
      </div>
    </div>
  </div>
</nav>

