<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" style="font-weight:bold;">
        ProgramadoroTracker
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
          <% if current_user %>
            <a href="/dashboard" class="navbar-item">Dashboard</a>
            <a href="#" class="navbar-item">Estatisticas</a>
            <a href="#" class="navbar-item">Configurações</a>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "navbar-item"%>
            <% else %>
            <a href="/users/sign_in" class="navbar-item">Entrar</a>
            <a href="/users/sign_up" class="navbar-item">Criar Conta</a>
          <% end %>
      </div>
    </div>
  </div>
</nav>

