<div class="container">
  <%= render '/dashboard/shared/cronometer' %>
</div>

<div class="container">
  <%= render 'tasks/form', task: @task %>
</div>

<div class="container">
 <%= render '/dashboard/shared/totals', tasks: @tasks, array_tasks: @array_tasks %>
</div>

<hr/>
<div class="container">
  <%= render '/dashboard/shared/list_tasks', tasks: @tasks, array_tasks: @array_tasks %>
</div>
