
<div id="login">
    <div class="login-card">
        <div class="card-title">
            <h1>Login</h1>
          </div>
          <div class="content">
            <div class="card-content login">
              <p class="title">
              Você já é registrado?
              </p>
              <p class="subtitle">
              Login
              </p>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input class="input" name="user[email]" type="email" placeholder="Email">
                    </div>
                </div>
                  <div class="field">
                  <label class="label">Senha</label>
                  <div class="control">
                    <input class="input" name="user[password]" type="password" placeholder="Senha">
                  </div>
                  </div>
                  <h6 class="subtitle is-6 has-text-centered">ou</h6>
                  <div class="has-text-centered">
                  <a class="button is-link">Facebook</a>
                  <a class="button is-info">Github</a>
                  </div>
                  <%= render "devise/shared/links" %>
              </div>
                <footer class="card-footer">
                  <button class="card-footer-item register" type="submit" name="action">Entrar
                    <i class="material-icons right"></i>
                  </button>
                </footer>
              <% end %>
          </div>
      </div>
  </div>

 