/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require fullcalendar
 = require jquery-ui
 *= require jquery.countdown
 *= require_self
 */

@import "shared/_footer";
@import "shared/_login";
@import "shared/_register";
@import "font-awesome";

#pomodoro,#mensagem {
	text-align: center;
	color: #feffff;
	background: #FF3860;
	padding: 10px;
}

.clock-container {
	width: 350px;
}

.clock-buttons {
	margin-left:50px;
	margin-bottom: 10px;
	float:left; 
}

#calendar {
	max-width: 560px;
	margin: 0 auto;
}

// Datepicker Ui
.ui-widget-header {
	background: #00d1b2;
	color: hsl(0, 17%, 98%);
}
.ui-state-hover:hover {
	background: none;
}

// ui-icon ui-icon-circle-triangle-w
.ui-icon {
	color: red;
}

.page-footer{
	position:relative;
	bottom:0;
	width:100%;
}

.container {
margin-top: 10px;
}

.container_form {
	margin-top: 90px;
}

.notification > button.delete {
border: none;
}

.is-hidden {
display: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
.container2 {
	position: relative;
	top: 30px;
	width: 300px;
	margin: 0 auto;
}

	
.controlls {
	position: absolute;
	left: 75px;
	top: 105px;
	text-align: center;
}

.display-remain-time {
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 65px;
	color: #FF3860;
	text-align: center;
}

#pause {
	outline: none;
	background: transparent;
	border: none;
	width: 50px;
	height: 50px;
	position: relative;
}
	
#pause:hover { opacity: 0.8; }

.e-c-base {
	fill: none;
	stroke: #B6B6B6;
	stroke-width: 4px
}

.e-c-progress {
	fill: none;
	stroke: #FF3860;
	stroke-width: 4px;
	transition: stroke-dashoffset 0.7s;
}

h1 { margin-top:150px; text-align:center;}
body { background-color:#f7f7f7;}