/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require fullcalendar
 = require jquery-ui
 *= require_self
 */

@import "shared/_footer";
@import "shared/_login";
@import "shared/_register";
@import "font-awesome";

#clock {
	font: bold 24pt sans;
	text-align: center;
	color: #feffff;
	background: #FF3860;
	padding: 10px;
	margin-bottom: 10px;
}


#pomodoro,#mensagem {
	text-align: center;
	color: #feffff;
	background: #FF3860;
	padding: 10px;
}

.clock-container {
	width: 350px;
}

.clock-buttons {
	margin-bottom: 10px;
	float:left; 
	margin-left:35px;
}

#calendar {
	max-width: 560px;
	margin: 0 auto;
}

// Datepicker Ui
.ui-widget-header {
	background: #00d1b2;
	color: hsl(0, 17%, 98%);
}
.ui-state-hover:hover {
	background: none;
}

// ui-icon ui-icon-circle-triangle-w
.ui-icon {
	color: red;
}

.page-footer{
	position:relative;
	bottom:0;
	width:100%;
}


//notification
.container {
	margin-top: 10px;
  }
  
  .container_form {
    margin-top: 90px;
}
  
  .notification > button.delete {
	border: none;
  }
  
  .is-hidden {
	display: none;
  }