<div class="row">
        <div class="col m8 offset-m2">
                <div class="field">
                        <h5>Editar Categoria</h5>
                </div>
                <%= render 'categories/shared/form', category: @category %>
                <%= link_to 'Visualizar', @category %> |
                <%= link_to 'Voltar', categories_path %>
        </div>
</div>
    
    
