<div class="field">
  <div class="row">
      <div class="col m8 offset-m2">
        <div class="field">
          <h5><Strong>Editar Categoria</Strong></h5>
        </div>
      </div>
  </div>
<%= render 'categories/shared/form', category: @category %>
</div>            
            
    
